*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 232, 255);
    color: black;
    font-family: sans-serif;
}


main{
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

#FormData
{
    height: 60vh;
    width: 500px;
    background-color: white;
    box-shadow: 0px 5px 5px gray;
    border-radius: 15px;
    margin-left: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#FormData form
{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;

}

#FormData form input
{
    padding: .7rem 1rem;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    outline: none;
    font-size: 1rem;
    color: black;
}

#FormData form button
{
    padding: .8rem 1.3rem;
    border: none;
    box-shadow: 0px 5px 10px gray;
    background-color: rgb(255, 0, 123);
    color: white;
    font-size: 1rem;

    user-select: none;
    cursor: pointer;
}

#FormData form button:active
{
    transform: scale(0.98);
    

}

#ShowCaseData
{
    font-size: .8rem;
    height: 300px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
}

#ShowCaseData table
{
    margin-top: 20px;
    font-size: 1.3rem;
    padding: 20px;
}

#ShowCaseData table td,th
{
    border-bottom: 1px solid black;
    padding: 20px;
}



#ListOfUsers {
    background-color: white;
    color: black;
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
    row-gap: 1rem;

}

#ListOfUsers h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

#ListOfUsers ul {
min-height: 100%;
width: 90%;
height: fit-content;
overflow: auto;
}

#ListOfUsers ul li {
    list-style: none;
    padding: 1.7rem 3rem;
    background-color: lightblue;
    color: black;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

#ListOfUsers ul li button
{
    padding: .2rem .6rem;
    border: none;
    font-size: .9rem;
    background-color: rgb(255, 0, 123);
    color: white;
    cursor: pointer;
    user-select: none;
}

#ListOfUsers ul li:active
{
    background-color: rgb(0, 200, 200);
    color: white;
}


#IdErr
{
    font-size: 14px;
    color: red;
    display:  none;
}
